.transition_image {
  width: 215px;
  height: 390px;
  margin-left: 5em;
}

.arrow {
  position: absolute;
  margin-top: 4em;
  font-size: 3em;
}

.wireframe_image {
  width: 300px;
  height: 335px;
}

.mockup_image {
  width: 10em;
}

.user_journey_image {
    width: 475px;
    align-content: center;
}

.danglay_video {
  height: 32em;
}

.vid_container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 51.5%;
    height: 0;
    align-self: center;
}

.vid_container iframe {
    background: url("../Images/iPhone_skin.png") center center no-repeat;
    border: none;
    box-sizing: border-box;
    background-size: contain;
    /* padding: 6.4% 68.7% 11.7% 11.3%; */
    padding: 8.4% 15.7% 18.7% 15.3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mac_skin {
  height: 32em;
  box-shadow: none;
}
