.background_pink {
  background-image: linear-gradient(to bottom right, #8B245D, #7B1F52);
  border-radius: 2em;
  box-shadow: -0.25em 0.25em 2em #888888;
  color: white;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.background_gray {
  border-radius: 2em;
  box-shadow: -0.25em 0.25em 2em #888888;
  padding: 3em;
}

.background_gray > h1 {
  color: #8B245D;
}

.pink {
  color: #8B245D;
}
.intro {
  margin-top: 3em;
}

.avatar {
  box-shadow: none;
  width: 15em;
  margin-bottom: -2em;
}

.profile_left {
  width: 20em;
  padding-left: 3em;
  padding-right: 3em;
  box-shadow: -0.25em 0.25em 2em #888888;
  border-radius: 2em;
  margin-right: 2.5em;
  padding-bottom: 1em;
}

.profile_right {
  width: 20em;
  padding-left: 3em;
  padding-right: 3em;
  box-shadow: -0.25em 0.25em 2em #888888;
  border-radius: 2em;
  margin-left: 2.5em;
  padding-bottom: 1em;
}

.user_profiles {
  margin-top: 3em;
}

.design_process {
  width: 35em;
  box-shadow: none;
}

.mind_map {
  width: 30em;
  box-shadow: none;
}

.user_journey {
  width: 35em;
  box-shadow: none;
}

.bullet {
  box-shadow: none;
  width: 4em;
  height: 4em;
}

.bullet_point {
  display: flex;
  align-items: center;
}
