.design_process {
  box-shadow: none;
  max-width: -webkit-fill-available;
}

.background_green {
  background-image: linear-gradient(to bottom right, #083C3B, #0B5351);
  border-radius: 2em;
  box-shadow: -0.25em 0.25em 2em #888888;
  color: white;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.side_heading {
  font-size: 1.7em;
  margin-top: 1.5em;
  font-weight: 600;

}

.background_gray {
  border-radius: 2em;
  box-shadow: -0.25em 0.25em 2em #888888;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  color: #083C3B;
}
