.vid_container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    align-self: center;
}

.vid_container iframe {
    background: url("../Images/Mac_skin.png") center center no-repeat;
    border: none;
    box-sizing: border-box;
    background-size: contain;
    padding: 8.4% 15.7% 18.7% 15.3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.mac_skin {
  height: 32em;
  box-shadow: none;
}


.background_blue {
  background-image: linear-gradient(to bottom right, #e7e8ec, #e7e7ec);
  color: black;
  padding: 0.5em;
  margin-left: -20%;
  margin-right: -20%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 5em;
  padding-top: 3em;
}


.background_gray {
  border-radius: 2em;
  padding: 3em;
}


.user_needs{
  box-shadow: none;
  max-width: -webkit-fill-available;
  padding-top: 3em;
  height:15em;
}

.wireframe {
  height: 10em;
}

.mockup_left {
  height: 25em;
  box-shadow: none;
  margin-left: -10em;
  float: left;
}

.mockup_right {
  height: 25em;
  box-shadow: none;
  margin-right: -10em;
  float: right;
}

.mockup_text {
  font-family: 'Asap', sans-serif;
  font-size: 2em;
  color: #9EC1DA;
  font-weight: 800;
}

.b_heading {
  font-family: "Asap";
  color: black;
  font-size: 2em;
  text-align: center;
}

.b_body {
  font-family: "Calibri";
  color: black;
  font-size: 2em;
  text-align: center;
}

.branding {
  width: 88%;
  box-shadow: none;
}

.intro_section {
  font-size: larger;
  line-height: 2em;
  font-weight: 500
}

.current_process {
  box-shadow: none;
}
