.header {
  margin: 4em;
}

hr {
    border-color: #362651;
}

.main_heading {
  text-align:center;
  font-size:40px;
  border: none;
}

.about_me {
  text-align: center;
}

.email {
  text-align: left;
  font-size: medium;
  margin-top: 2em;
}

html {
  font-family:lucida grande;
  line-height: 1.5em;
  color: #362651; 
  box-sizing: border-box;
  border: solid;
  border-width: 5em;
  border-image: url("../Images/Background 2.png") 30;
}

body {
  background: white;  
  margin: 0em;
}

h2 {
  font-size: 1.5em;
}

h1 {
  text-align: center;
}

.project_header {
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: thin;  
  border-top-width: thin;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  display: block;
  cursor: pointer;
}

.images {
  display: block;
  text-align: center;
}

img { 
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: -0.25em 0.25em 2em #888888

}

.toggle_visibility {
  display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image_column {
  float: left;
  width: 30%;
}

.image_column > .image_link > img {
  width: 10em;
  height: 10em;
  margin-left: 15em;
}
.title_column {
  float: right;
  width: 65%;
  margin-top: 5em;
}

.title_column > .title{
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #362651;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #362651;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.image_link:hover:before {
  visibility: hidden;
  -webkit-transform: none;
  transform: none;
}

.work {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 10em;
  margin-right: 10em;
}

.image_title {
  text-align: center;
  font-style: italic;
}

.center_align {
  text-align: center;
}

.shadow {
  box-shadow: -0.25em 0.25em 2em #888888
}

.section {
  margin-bottom: 5em;
}

.subheading_container {
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 4em;
  border-color: rgba(1,1,1,0);
  background: linear-gradient(to bottom left, rgba(188,78,156,0.5), rgba(248,7,89,0.5));
}

.subheading {
    font-size: 1.75em;
    color: white;
    text-align: center;
}

.inline_block {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hyperlink {
  color: #6318e0;
}