.main_heading {
  text-align:center;
  font-size:40px;
  border: none;
}

.name {
  text-align:right;
}

html {
  margin-left: 50px;
  margin-right: 50px;
  font-family:sans-serif;
}

h2 {
  font-size: 15px;
}

h1 {
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: thin;  
  border-top-width: thin;
  padding-bottom: 3px;
  padding-top: 3px;
}

.user_journey_image {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wireframe_image {
  width: 400px;
  height: 335px;
}

.mockup_image {
  width: 315px;
}

image { 
  margin-top:25px;
  margin-bottom:25px;
}