.header {
  margin-bottom: 4em;
  padding-right: 2em;
  padding-left: 1em;
}

.container{
  margin: 4em;
}

.flex_center {
  display: flex;
  justify-content: center;
}

hr {
    border-color: #362651;
}

.contact {
    padding-left: 6em;
}

.main_heading {
  font-size: 2.25em;
  font-weight: bold;
  border: none;
}

.about_me {
  width: 40%;
}

.left-arrow {
  width: 0.8em;
  box-shadow: none;
  margin: 0;
  margin-right: 0.25em;
}

.company {
    color: #593E85 !important;
}

.email {
  text-align: left;
  font-size: medium;
  margin-top: 2em;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #362651;
}

html {
  font-family: 'Open Sans';
  line-height: 1.8em;
  color: #362651;
  box-sizing: border-box;
}

body {
  background: white;
  margin-left: 12em;
  margin-right: 12em;
}

h2 {
  font-size: 1.5em;
}

h1 {
  text-align: center;
  line-height: 1.5em;
}

.images {
  display: block;
  text-align: center;
}

img {
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: -0.25em 0.25em 2em #888888;

}


/* Links */

.link {
  text-decoration: none;
  color: #362651;
}

.link_transition {
  text-decoration: none;
  color: #362651;
  position: relative;
}

.link_transition:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #362651;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link_transition:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.image_link:hover:before {
  visibility: hidden;
  -webkit-transform: none;
  transform: none;
}

/**************************/

.center_align {
  text-align: center;
}

.shadow {
  box-shadow: -0.25em 0.25em 2em #888888
}

.section {
  margin-bottom: 5em;
  margin-left: 10%;
  margin-right: 10%;
}

.white {
  color:white;
}

.nav {
  padding: 1em;
}

.subheading_container {
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 1em;
  border-color: white;
  border-radius: 2em;
}

.gradient {
  /* background-image: url('../Images/Gradient background.png') */
  /* background-color: #EF8875;
  background-image: linear-gradient(to bottom right, #074F57, #053A3F); */

}

.subheading {
  font-size: 1.75em;
  color: #593E85;
  text-align: center;
  margin-bottom: 0.5em;
}


.header-link {
    /* color: #EF8875; */
    color: black;
    font-size: 1.5em;
}

.header-link:hover {
  color: #EC745E;
}

.inline_block {
  display: inline-block;
}

.skills {
  width: 40%;
}
.right {
  float: right;
}

.left {
  float: left;
}

.hyperlink {
  color: #6318e0;
}


/* Style the Image Used to Trigger the Modal */
.modalImage {
    cursor: pointer;
    transition: 0.3s;
}

.modalImage:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 65em ;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 25em;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 15.625em;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.4s;
}

@keyframes zoom {
    from {transform:scale(0.8)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


textarea {
  display: none;
}

.icon {
  width: 2em;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  margin: 0;
  margin-right: 1.5em;
}

.ficon {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

a {
  text-decoration: none;
}

hr {
  opacity: 0.5;
  color: #593E85;
}

/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Project List*/
.project_image {
  width: 10em;
  border-radius: 1.5em;
}

.row {
  display: inline-flex;
  align-items: baseline;
  width: 16em;
}

.project {
  margin: 1.5em;
  width: 25 em;
}

/*Zoooom*/
.zoom {
    transition: transform .2s ease-in-out; /* Animation */
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.zoom:hover {
    transform: scale(1.25); /* (125 % zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grow {
    background-size: 100% 100%;
    transition: all .5s ease;
}

.grow:hover {
  font-size: 1.5em;
}
}



/* Clearfix */
.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.float-my-children > * {
    float:left;
    margin-right:5px;
}

.text_center {
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  align-items: center;
}


/* Top Button */
#topButton {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #593E85; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 2em; /* Increase font size */
    display: none;
}
