.main_heading {
  text-align:center;
  font-size:40px;
  border: none;
}

.about_me {
  text-align: center;
}

.name {
  text-align:right;
  font-size: x-large;
}

html {
  margin-left: 7em;
  margin-right: 7em;
  font-family:sans-serif;
  line-height: 1.5em;
}

h2 {
  font-size: 15px;
}

.project_header {
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: thin;  
  border-top-width: thin;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  display: block;
  cursor: pointer;
}

.user_journey_image {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wireframes {
  display: block;
  text-align: center;
}

.wireframe_image {
  width: 400px;
  height: 335px;
}

.mockup_image {
  width: 315px;
}

img { 
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 1em;
    margin-right: 1em;
}

.toggle_visibility {
  display: none;
}