.main_heading {
  text-align:center;
  font-size:40px;
  border: none;
}

.about_me {
  text-align: center;
}

.email {
  text-align: left;
  font-size: medium;
}

html {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 4em;
  margin-bottom: 5em;
  font-family:lucida grande;
  line-height: 1.5em;
  background: #f9f9fb;
  color: #362651; 
}

body {
  background: white;  
  padding: 1em;
}

h2 {
  font-size: 15px;
}

.project_header {
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: thin;  
  border-top-width: thin;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  display: block;
  cursor: pointer;
}

.user_journey_image {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wireframes {
  display: block;
  text-align: center;
}

.transition_image {
  width: 215px;
  height: 335px;
  margin-left: 5em;
}

.arrow {
  position: absolute;
  margin-top: 4em;
  font-size: 3em;
}

.wireframe_image {
  width: 300px;
  height: 335px;
}

.mockup_image {
  width: 10em;
}

img { 
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 1em;
    margin-right: 1em;
}

.toggle_visibility {
  display: none;
}