.old_home_page {
	width: 40em;
	margin-bottom: 0em;
}

.solution_image {
	width: 20em;
	height: 13.625em;
}

a:before {
	background-color: #6318e0;
}

.persona_image {
	width: 20em;
	height: 19em;
}

.old_vs_new {
	display: inline-block;
}

.comparison_image {
	width: 60%;

}

.information_architecture {
	width: 30em;
}

.sketch {
	height: 12em;
}

.timu_video {
	height: 32em;
}

.vid_container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    align-self: center;
}

.vid_container iframe {
    background: url("../Images/Mac_skin.png") center center no-repeat;
    border: none;
    box-sizing: border-box;
    background-size: contain;
    padding: 8.4% 15.7% 18.7% 15.3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mac_skin {
  height: 32em;
  box-shadow: none;
}

.background_gray {
  border-radius: 2em;
  box-shadow: -0.25em 0.25em 2em #888888;
  padding: 3em;
  color: #083C3B;
}
