.old_home_page {
	width: 40em;
	margin-bottom: 0em;
}

.solution_image {
    width: 25em;
    height: 15.625em;
}

a:before {
	background-color: #6318e0;
}

.persona_image {
	width: 25em;
	height: 22em;
}

.old_vs_new {
	display: inline-block;
}

.comparison_image {
	width: 27em;
	height: 16.75em;
}

.information_architecture {
	width: 30em;
}

.sketch {
	height: 12em;
}

.timu_video {
	height: 32em;
}