.old_home_page {
	width: 40em;
	margin-bottom: 0em;
}

.solution_image {
    width: 25em;
    height: 15.625em;
}

.hyperlink {
	color: #6318e0;
}

a:before {
	background-color: #6318e0;
}

.persona_image {
	width: 25em;
	height: 22em;
}